main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #e3e3e3;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.left {
    background: #6305B1;
    height: 100vh;
    width: 200px;
    margin-top: 10px;
    padding: 50px 20px;
}

.left ul li {
    margin-bottom: 15px;
    font-size: .8rem;
}

.left ul li a {
    color: #fff;
}

.left ul li a:focus {
    color: #DD9268;
}

.right {
    height: 100vh;
    width: 100%;
    margin-top: 10px;
    padding: 70px 20px 50px 0px;
}

.right h3 {
    color: #FF8E00;
    margin-left: 20px;
}

button.dash-btn {
    padding: 5px 20px;
    border-radius: 0px;
    margin-top: 0px;
}

button.dash-btn:hover {
    border: 0px;
    background-color: #4f078a;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

thead tr {
    border-bottom: 1px solid #00000025;
    background-color: #FFE5C5;
    margin-bottom: 10px;
    margin-left: 50px;
}

tbody {
    padding-top: 100px;
    border-top: 1px solid #00000025;
}

tbody tr {
    border-bottom: 1px solid #00000025;
}

tr > td:last-of-type {
    text-align: right;
}

thead td {
    font-weight: 500;
    color: #6405b180;
}

td {
    padding: .5rem .5rem .3rem 20px;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
}

.dash-btn-area {
    display: flex;
}

button.dash-logout {
    margin-top: 50px;
    margin-left: auto;
    font-size: .7rem;
}

.dash-profile-pic {
    position: absolute;
    top: 20px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-profile-pic p {
    font-size: .8rem;
    text-align: center;
    color: #6305B1;
    font-weight: 700;
}

.dash-profile-pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-links .nav-list .nav-items {
    margin-right: 0px;
    cursor: pointer;
}

.nav-list .nav-items:last-of-type.dash-chevron  {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.nav-links .nav-list.dash-nav-list {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
}

.dash-notification {
    position: relative;
}

.notification-badge {position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF0000;
    font-size: .8rem;
    font-weight: 500;
    top: -5px;
    right: -5px;
}


@media screen and (max-width:675px) {
    .table {
        width: 70%;
        overflow-x: scroll;
    }
}