/* ----------global style start---------- */
/* custom css variables */
 :root{
   --primary-color-1:#6305B1;
   --primary-color-2:#F6B25A;
   --primary-color-3:#FFE5C4;
   --GREY-color-1:#4F4F4F;
   --GREY-color-2:#828282;
   --GREY-color-3:#BDBDBD;
   --GREY-color-4:#E0E0E0;
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Inter' sans-serif;
  background-color: var(--GREY-color-4);
  max-height: 100vh;
}

.justify-content-between{
  justify-content: space-between;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
/* ----------global style start---------- */
/* -------header start ---------*/
.header{
  padding: 10px 30px 10px;
  position: sticky;
  width: 100%;
  top:0;
  left: 0;
  z-index: 0;
  max-height: 60px;
  background-color: var(--primary-color-1);   
}

.logo img{
  height: 50px;
  width: 120px;
}

.profile-img #img-1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position:relative;
    z-index: 99;
    margin: 0px 10px;
    bottom:-13%;
}

#notification-icon{
  background: transparent;
  border: 0;
  padding: 0;
}

#notification-icon img{
  height: 20px;
  position:relative;
  top:-8px;
}
.icon-button__badge{
  color: red;
  position: relative;
  top: -22px;
  left: -10px;
}
.drop-down-arrow{
  position: relative;
  left:-10%;
  top: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dd-content ul li{
  position: relative;
}

.dd-content{
  position: absolute;
  box-shadow: 1px 1px #4f4f4fd8;
  display: none; 
  z-index: 99;
  right:1.5%;
}

.dd-content.active{
  display: block;
}

.dd-content:before{
  content: "";
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid;
  border-color: transparent transparent #fff transparent; 
  z-index: 1;
}

.dd-content ul li a{
  display: block;
   background-color: #fff;
   padding: 4px;
   font-size: 0.8rem;
   transition: all 0.3s ease;
}

.dd-content ul li a:hover,
.dd-content ul li a.active{
  background: #4f4f4f31;
  color: #fff;
}

.dd-content ul li:first-child a{
  padding-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dd-content ul li:last-child a{
  padding-bottom: 15px;
   border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* -------header end---------*/

/* -------form start------ */
input[type=text],
   select {
       width: 100%;
       padding: 3px 5px;
       display: inline-block;
       border: 1px solid var(--GREY-color-3);
       box-sizing: border-box;
       background: var(--GREY-color-4);
  }    

input[type=submit] {
    width: 20%;
    background-color:var(--primary-color-1);
    color: white;
    padding: 8px 5px;
    margin: 35px 15px ;
    border: none;
    font-size: 0.8rem;
    border-radius: 0 8px 0 8px;
    cursor: pointer;
    position: relative;
    left: 600px; 
  }             

  input[type=submit]:hover {
     background-color:#6405b1df ;
     color: var(--primary-color-2);
  }    

.form {
     border-radius: 5px;
     background-color: #fff;
    margin-left: 20px;
     width: 20%;
    height: 30px;
    flex: 80%;
    padding: 10px 20px;
 }

 .form-1{
   display: flex;
 }

 #title{
   width: 30px;
   padding: 3px;
   margin-right: 15px;
   flex: 20%;
 }

 #fname{
   width: 360px;
 }

 #Sname{
   width: 360px;
 }

 label{
   color:var(--primary-color-2);
   font-size: 0.8rem; 
   margin-top: 20px;
 }

 .form-1-label{
   padding-top: 35px;
 }

 .form-label{
   display: flex;
   flex-direction: column;
   margin-right: 10px;
 }
 /* -------form end------ */

 /* ----section side-bar start----- */
 
.my-patients {
    color: #fff;
    font-size: 1.3rem;
    padding-top: 20px;
    cursor: pointer;
  }

.flex{
  display: flex;
}
 .section-two ul li a:hover {
   color: var(--primary-color-2);
    transition: all 0.3s ease;
 }

.Discharged{
  color: #fff;
  margin: 5px 0 0 15px;
  display: none;
}
.connects{
  margin: 0 3px;
}

.Discharged.active{
  display: block;
}

 .side-bar{
   background-color: var(--primary-color-1);
   padding: 80px 20px;
   width: 20%;
   height: 90vh;
   margin: 15px 10px 0 0;  
 }

 .button-1{
   width: 200px;
    background-color:var(--primary-color-1);
    color: white;
    padding: 8px 5px; 
    border: none;
    font-size: 0.8rem;
    border-radius: 0 8px 0 8px;
    cursor: pointer;
    position: sticky;
    left: 95%;
    bottom:-5%;
 }

 .button-1:hover{
      background-color:#6405b1df ;
     color: var(--primary-color-2);
 }

 /* -----section two ----*/

 .section-two{
   display: flex;
 }

 .profile-form{
   display: flex;
 }

.profile-form{
  border-radius: 5px;
  background: #fff;
  width: 90%;
  height: 70%;
  margin: 0 auto 0px;
}

 /* -----doctor profile start ----*/

#img-3{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 50px;
}

.doctor-profile{
  background-color: var(--primary-color-1);
  flex: 20%;
}

.profile-title{
  color: #fff;
  margin: 10px;
}

#doc-profile{
  position:relative;
  color: var(--primary-color-1);
  bottom: -80%;
  left: 45%;
}

/* -----doctor profile end ----*/
/* statistic- chart start */
.statistics-chart-1{
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.192);
  width: 50%;
  height: 200px;
  padding: 0 20px;
  display: flex;
}
/* .body-statistics{
  display: none;
}
.body-statistics.active{
  display: block;
} */
.statistics-chart-1 img{
  flex: 50%;
}
.statistics-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.weekly-reports button{
  background-color: #7430ac;
  padding: 12px 40px;
  color: #fff;
  border: 0;
  width: 183px;
  border-radius: 15px;
  position: relative;
  top: 8%;
}
.weekly-reports-chart img{
  margin: 
  20px;

}
.weekly-reports-chart h5{
  margin-bottom: 20px;
   position: relative;
   left: -40px;
   top: 15px;
}
.weekly-reports-chart{
  background-color: #fff;
  height: 180px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px;
   box-shadow: 1px 1px rgba(98, 98, 98, 0.541);
}

.weekly-reports h4{
  text-align: center;
  color: var(--primary-color-2);
  margin-top: 30px;
  font-size: 20px;
}
.Total-records button{
  width: 100px;
  height: 65px;
  background-color: #815d9e;
  color: #fff;
  border-radius: 10px;
  margin: 40px 50px 5px;
  border:0;
  box-shadow: 1px 1px rgba(49, 48, 48, 0.883);
}
.Total-records-box h5{
  font-size: 12px;
  text-align: center;
  margin-bottom: 25px;
}
#hello-message h5{
  color: #815d9e;
  display: flex;
  flex-wrap: wrap;
}
#hello-message{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex:40%;
}

/* statistic- chart end */