.rights {
    height: 105vh;
    width: 100%;
    margin-top: 10px;
    padding: 70px 20px 50px 0px;
}

.lefts {
    background: #6305B1;
    height: 135vh;
    width: 100;
    margin-top: 10px;
    padding: 50px 20px;
}
.lefts ul li {
    margin-bottom: 15px;
    font-size: .8rem;
}
.lefts ul li a {
    color: #fff;
}
.left ul li a:focus {
    color: #DD9268;
}
/*---------------------one column-----------------------*/
.outer-div{
	padding: 10px;
	margin-bottom: 20px;
}
.inner-div{
	max-width: 400px;
	height: 150px;
	background-color: #fff;
	/*margin: 0 auto;*/
	border-radius: 20px;
	box-shadow: 5px 5px 14px #cbced1,
	 -5px -5px 14px #fff;
}
.inner-div h4{
	margin:30px 0 0 20px;
	padding-top: 10px;
	color: rgba(99, 5, 177, 0.64);
	font-size: 15px;
}
.inner-div p{
	margin:20px 0 0 20px;
	color: rgba(99, 5, 177, 0.64);
	font-size: 15px;
}
.inner-div img{
	float: right;
	width: 180px;
	height: 125px;
	margin-right: 20px;
	margin-top: 10px;
}
/*---------------- 3 column section------------------------- */
.heading h5{
	
	color: #F8B25A;
	font-size: 17px;
	margin-left: 30px;
	padding:0;
}
.container-three{
	width:100%;
	height: 30vh;
	display: flex;
	/*background-color: red;*/
	margin-top: -8px;
}
.contain-three{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.box1,
.box2,
.box3{
	width: 200px;
	height: 150px;
	margin: 0 15px 15px 20px;
	box-shadow: 2px 2px 5px #cbced1,
	 -2px -2px 5px #fff;
	color: black;
	text-align: center;
	transition: .3s ease-in-out;
	border-radius: 15px;
}
.box1 p,
.box2 p,
.box3 p{
	background: rgba(99, 5, 177, 0.64);
	margin-top: 16px;
	padding: 10px;
	border-radius: 15px;
	color: white;
}
.box1:hover,
.box2:hover,
.box3:hover{
	background: rgba(99, 5, 177, 0.64);
}
.contain-three .fab,
.contain-three .fa-hospital-user {
	margin: 1.2rem 0 .3rem 0;
	font-size: 50px;
	color: #F8B25A; 
}
.contain-three h2 {
	font-size: 15px;
	letter-spacing: 1px;
	margin: 0 0 .6rem 0;
}

/*----------------- 4 column --------------*/
.container-four{
	width:100%;
	height: 30vh;
/*	margin-top: 2em;*/
	display: flex;
}
.contain-four{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contain-four h6{
	margin-top: 50px;
	font-size: 25px;
	color: white;	
}
.box11,
.box22,
.box33,
.box44{
	background: rgba(99, 5, 177, 0.64);
}
.box11,
.box22,
.box33,
.box44{
	width: 200px;
	height: 150px;
	/*background-color: #ecf0f3;*/
	margin: 0 15px 15px 15px;
	color: black;
	text-align: center;
	transition: .3s ease-in-out;
	border-radius: 15px;
}
.dash-chevron ul{
	position: absolute;
	top: 60px;
	display: none;
}
/*.nav-link .nav-items*/ 
.nav-links ul li .dropdown{
	position: absolute;
	top: 65px;
	right:0;
	background-color: #fff;
	color: yellow;
	padding: 10px 25px;
	border-radius: 5px;
	display: none;
}
.nav-links ul li .dropdown:before{
	content: "";
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	border:10px solid;
	border-color:transparent transparent #fff transparent;
}

.nav-links ul li.active .dropdown{
	display: block;
}

/*---------------------- Responsiveness----------*/

@media screen and (width: 793px){
	.lefts {
    background: #6305B1;
    height: 270vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 100em;
    height: 55em;
	}
}
@media screen and (max-width: 789px){
	.outer-div{
		margin-left: 80px;
	}
	.heading h5{
		margin-left: 100px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 500px){
	.lefts {
    background: #6305B1;
    height: 270vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 25em;
    height: 55em;
	}
	.inner-div img{
		display: none;
	}
	.inner-div h4,
	.inner-div p{
		margin-left: 30px;
		font-size: 14px;
	}

}

/*@media screen and (max-width: 360px) {
	.lefts {
    background: #6305B1;
    height: 263vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 25em;
    height: 65em;
	}
}

@media screen and (max-width: 375px) {
	.lefts {
    background: #6305B1;
    height: 263vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 25em;
    height: 65em;
	}
	.dash-btn-area .button{
		font-size: 6.6px;
		font-weight: 700px;
	}
}

@media screen and (max-width: 500px) {
	.inner-div img{
	display: none;
	}
	.inner-div h4{
	margin:30px 0 0 30px;
	padding-top: 10px;
	color: rgba(99, 5, 177, 0.64);
	font-size: 15px;
	}
	.lefts {
    background: #6305B1;
    height: 205vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 19em;
    height: 65em;
	}

.inner-div p{
	margin:30px 0 0 30px;
	color: rgba(99, 5, 177, 0.64);
	font-size: 15px;
	}
}

@media screen and (max-width: 930px) {
	.box1 p,
	.box2 p,
	.box3 p{
		background-color: #9370db;
		margin-top:40px;
		border-radius: 15px;
	}
	.inner-div img{
	float: right;
	width: 150px;
	height: 100px;
	margin-right: 20px;
	margin-top: 20px;
	}
}
@media screen and (max-width: 938px) {
	.inner-div img{
	float: right;
	width: 180px;
	height: 130px;
	margin-right: 30px;
	margin-top: 10px;
	}
}

@media screen and (max-width: 995px) {
	.lefts {
    background: #6305B1;
    height: 180vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 10em;
    height: 37em;
	}
	.contain-four{
		margin-top: 3em;
	}
}
@media screen and (max-width: 590px) {
	.lefts {
    background: #6305B1;
    height: 240vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 20em;
    height: 65em;
	}
	.contain-four{
		margin-top: 3em;
	}
}
@media screen and (max-width: 540px) {
	.lefts {
    background: #6305B1;
    height: 225vh;
	}
	.container-four{
    overflow: hidden;
    margin-top: 19em;
    height: 65em;
	}
}
*/