/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 10em;
  height: 350px; 
  /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.left {
   background-color:#fff;
}
.right img {
  width:500px;
  height:500px;
}
.center{
  position:absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #FFE5C4;
  border-radius: 0 10px 0 10px;
}
.center h1 {
  padding: 30px 0 5px 0;
  margin-left: 30px;
  color: #6305B1;
  font-size: 20px;
}
.center form{
  padding: 0 30px;
  box-sizing: border-box;
}
form .txt-field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt-field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
::placeholder{
color: #BDBDBD;
font-family: monospace;
}
.txt-field label{
  color: #4F4F4F;
  font-weight: 500;
}
.pass{
 float:right;
 margin: 5px 0 20px 50px;
  color:#6305B1;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type='submit'] {
  width: 70%;
  height: 30px;
  border:none;
  background:#6305B1;
  color: #e9f4fb;
  font-weight: 600;
  letter-spacing: 1px;
   border-radius: 0 5px 0 5px; 
  float: right;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}
input[type="submit"]:hover {
  background: #9370DB;
  transition: .5s;
  color: #6305B1;
}
.signup-link {
  margin:40px 0;
  text-align: center;
  font-size: 12.55px;
  font-weight: 500;
  color: 
}
.signup-link a{
  text-decoration: none;
}
.signup-link a:hover{
  text-decoration: underline;
  transition: .5s;
}
.signup-link span{
  color: #6305B1;
  font-weight: 600px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 2px;
    height: 230px;
  }
  .center{
  position:absolute;
  margin-top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #FFE5C4;
  border-radius: 0 10px 0 10px;
  }
  /*.right img {
  display: none;

  }*/
}

