
section{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
}
.bannerText{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width:500px;
}
.bannerText h2{
    position: relative;
    margin:0;
    padding: 0;
    display: inline-block;
    transform-origin: left;
    transform: scaleX(0);
    animation: revealTextReverse 0.5s ease-in-out forwards;
}
.bannerText h2{
    color:#6305B1;
    font-size: 2em;
    animation-delay: 0.2s;
     font-size: 30px;
}
.bannerText h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealText 1s ease-in-out forwards;
    animation-delay: 3s;
}
@keyframes revealText{
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
@keyframes revealTextReverse{
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
.bannerText p{
    opacity: 0;
    font-weight: 300;
    font-size: 15px;
    animation:fadeIn 1s linear forwards;
    animation-delay: 1s;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn{
    font-size: 2rem;
    padding:.7rem 3.5rem;
    border-radius: 5rem;
    color:#6305B1;
    background-color: #F8B259;
    margin-top: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    cursor: pointer;
    border:none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.med_ad{
    width: 480px;
    height: 480px;
    opacity: 0;
    position: absolute;
    right: 10%;
    top: 45%;
    transform: translateY(-50%);
    animation:fadeIn 1s linear forwards;
    animation-delay: 1.2s;
}
.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    height:100%;
    width:0%;
    background:#6305B1;
    z-index: -1;
    transition: .1s linear;
}
.btn:hover{
    color: #F8B259;
}
.btn:hover::before{
    left: 0;
    width:100%;
}
/*-------------------------- Responsiveness ------------------------- */
@media screen and (max-width: 500px){
    .med_ad{
        display: none;
    }
    .btn{
        float:left;
        margin-top: 80px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 768px){
    .med_ad{
        width: 350px;
        height: 350px;
       /* opacity: 0;*/
        top: -45%;
        margin-top: 600px;
        position: relative;
    }
    .btn{
        float: right;
        margin-top: 80px;
    }
    .bannerText p{
        font-size: 20px;
        margin-top: 20px;
    }
    .bannerText h2{
        font-size: 36px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 360px){
    .med_ad{
       display: none;
    }
     .bannerText p{
        font-size: 11px;
        margin-top: 20px;
    }
    .bannerText h2{
        font-size: 36px;
        margin-top: 20px;
    }
    .btn{
        float: right;
        margin-top: 80px;
        margin-right: 30px;
    }
}
