main {
    padding: 30px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

.signup {
    margin-top: 30px;
    background-color: #FFE5C4;
    width: 80%;
    padding: 30px 70px;
}

h3 {
    color: #6305B1;
}

.signup-form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.signup-form > div {
    display: flex;
}
/* 
.signup-form > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

label {
    font-weight: 500;
}


.signup-form .person-status label {
    margin-right: 50px;
}

/* .upload-pic-btn {
    background-color: #C4C4C4;
    width: 130px;
    border-radius: 10px;
    color: #000;
    padding: 10px;
    font-size: 1rem;
} */

.upload-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-pic {
    display: flex;
    align-items: flex-end;
}

.profile-pic p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.profile-pic > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form .profile-pic label {
    background-color: #C4C4C4;
    color: #000;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .sign-up-form-lower {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0;
  }

  .sign-up-form-lower > div {
      width: 48%;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 13px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #6b63ff52;
    background: #c4c4c410;
  }

  input[type=text]:focus, input[type=password]:focus {
    outline: #6C63FF;
  }


  .sign-up-form-lower > div > div {
      width: 100%;
  }

  /* input[type='submit'] {
    margin-top: 20px;
    padding: 10px 100px;
    background-color: #6305B1;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #fff;
    color: #6305B1;
    border: 1px solid #6305B1;
  } */

  .submit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  @media screen and (max-width: 1000px) {
    .sign-up-form-lower {
        flex-direction: column;
    }

    .sign-up-form-lower > div {
        width: 100%;
    }

    .signup-form {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .profile-pic {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
  }

  @media screen and (max-width: 800px) {
      main {
        padding: 0px;
      }

    .signup {
        padding: 30px 30px;
    }

    .signup-form .person-status label {
        margin-right: 20px;
    }

    input[type=text], input[type=password] {
        padding: 10px;
    }
  }