* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

/*Header starts Here */

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background:#6305B1;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

nav .nav-items{
    border-radius: 0 10px 0 10px;
    background-color: yellow;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  /*  background-color: #6305B1;*/
  }
  .nav-items{
    border-radius:none;
    background-color:#111;
}
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/*a {
    text-decoration: none;
}

nav {
    background-color: #6305B1;
    z-index: 1000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
    color: #fff;
    justify-content: space-between;
}

.logo {
    color: #fff;
}

.nav-links .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-list .nav-items {
    margin-right: 30px;
}

.nav-links .nav-list .nav-items:last-of-type {
    margin-right: 0px;
}

.nav-links .nav-list .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}

.nav-links .nav-list .nav-link:hover {
    color: rgb(219, 219, 219);
    font-size: .82rem;
}

.nav-items {
    list-style: none;
}

.nav-list .nav-items:last-of-type {
    background-color: #DFCDF3;
    padding: 3px 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-list .nav-items:last-of-type .nav-link {
    color: #6305B1;
}

<<<<<<< HEAD
.burger {
    width: 30px;
    height: 25px;
    display: none;
    position: absolute;
    top: 18;
    right: 30px;
    cursor: pointer;
}

.burger-line {
    width: 100%;
    height: 20%;
    margin-bottom: 3px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

=======

*/


/*Body Starts Here*/
>>>>>>> 507c396664858ce006358d99881b4c6c27f85dca
.section-header {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e8e8e8;
}

h1 {
    margin-bottom: 20px;
    font-size: 4rem;
    color: #6305B1;
}

.section-header div:first-of-type {
    width: 50%;
}

.section-header div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-header p {
    width: 90%;
    font-size: 1rem;
    color: #6305B1;
    margin-bottom: 20px;
    margin-right: 0px;
    line-height: 1.5;
}

.overlay {
    position: relative;
}

.img-overlay {
    position: absolute;
    width: 50px;
}

.img-overlay:first-of-type {
    top: 0;
    right: 0;
}

.img-overlay:last-of-type {
    top: 270px;
    left: 0;
}

button {
    margin-top: 20px;
    padding: 10px 100px;
    background-color: #6305B1;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: #fff;
    color: #6305B1;
    border: 1px solid #6305B1;
}

.section-header img {
    width: 450px;
    height: auto;
}

.section-about {
    width: 100%;
    background-color: #6305B1;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
}

.section-about div img {
    width: 90%;
    margin-right: 10%;
}

.section-about div:nth-of-type(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-about h2,
.section-services h2 {
    text-align: center;
    margin-bottom: 40px;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: #6305B1;
    background-color: #F8B25A;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-transform: uppercase;
}

.section-about p {
    line-height: 1.5;
}

/* .section-about::before {
    content: "";
    width: 20px;
    height: 400px;
    background-color: #6305B1;
    position: absolute;
    margin-top: 200px;
    left: 0;
    border-top-right-radius: 5px;
} */

/* .section-about::after {
    content: "";
    width: 20px;
    height: 400px;
    background-color: #6305B1;
    position: absolute;
    margin-top: 200px;
    right: 0;
    border-bottom-left-radius: 5px;
} */

.section-services {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-services h2 {
    margin-bottom: 100px;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6305B1;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 6px 3px 3px 0px rgba(0, 0, 0, 0.48);
}

.card div:first-of-type {
    height: 50%;
    padding: 20px 30px;
    border-top-right-radius: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 60%;
    align-items: center;
    justify-content: center;
}

.card div:last-of-type {
    height: 50%;
    padding: 15px;
    background-color: #F8B25A;
    border-bottom-left-radius: 20px;
}

.card-details h5 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card-details p {
    font-size: .8rem;
}

.footer {
    padding: 30px;
    background-color: #6305B1;
    color: #fff;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: left;
}

.footer-row ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-row ul li a {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
}

.footer-row .logo {
    font-size: 1rem;
    margin-top: 0px;
}

.footer-row ul li .logo {
    margin-top: 0;
}

.contact li:nth-of-type(2),
.contact li:nth-of-type(3) {
    font-size: .7rem;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social img {
    width: 20px;
    height: 20px;
    margin-left: 10px;

}

.footer p {
    text-align: center;
    font-size: .7rem;
    width: 90%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);

}

@media screen and (max-width:920px) {
    body {
        font-size: .8rem;
    }

    h1 {
        font-size: 2.3rem;
    }

    .section-about p {
        font-size: .8rem;
    }

    .section-about div img {
        width: 80%;
        margin-right: 10%;
    }

    .section-services {
        padding: 80px 50px;
    }

    .section-about div:nth-of-type(2) {
        width: 60%;
    }
}

@media screen and (max-width:900px) {
    .section-header {
        height: 100vh;
        height: 100vh;
    }

    .section-header div:first-of-type {
        margin-top: 50px;
    }

    .section-header p {
        font-size: .7rem;
    }

    .section-header img {
        width: 350px;
    }

    .card {
        width: 200px;
        height: 320px;
    }

    .card-details h5 {
        font-size: 1rem;
        margin-bottom: 8px;
    }
}

@media screen and (max-width:750px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 300px;
        height: 400px;
        margin-bottom: 50px;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-details h5 {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    .section-about {
        background: url(../img/image_2.png) center/cover no-repeat #6305B1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .section-about div:last-of-type {
        background-color: #6405b1ef;
        width: 100%;
        height: 100%;
        padding: 50px 50px;
    }

    .section-about h2 {
        margin-bottom: 0;
    }

    .section-about p {
        font-size: 1rem;
    }

    .section-about div .about-content {
        background: transparent;
    }

    .section-about img {
        display: none;
    }
}

@media screen and (max-width:675px) {
    .section-header img {
        display: none;
    }

    .section-header div:first-of-type {
        width: 100%;
    }

    .section-about div:last-of-type {
        padding: 50px 20px;
    }

    .section-about p {
        font-size: .8rem;
        text-align: left;
    }

    .card {
        width: 250px;
        height: 350px;
        margin-bottom: 30px;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-details h5 {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-row ul {
        margin-bottom: 20px;
    }

    .footer-row ul li {
        font-size: .7rem;
    }

    .footer-social {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer p {
        text-align: left;
        margin-bottom: 20px;
    }

    .social img {
        margin-left: 0px;
        margin-right: 20px;
        width: 15px;
        height: 15px;
    }

    

}

@media screen and (max-width:425px) {
    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    /* div ul */
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background: #6305B1;
        width: 100%;
        transition: opacity 1.5s ease-in;
    }

    /* ul */
    .nav-links .nav-list {
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    /* a */
    .nav-links .nav-list .nav-items .nav-link {
        padding: 20px 45%;
    }

    /* li */
    .nav-links .nav-list .nav-items {
        width: 100%;
        margin: 0px;
        text-align: center;
    }

    .nav-list .nav-items:last-of-type {
        background-color: transparent;
    }

    .nav-list .nav-items:last-of-type .nav-link {
        color: #6305B1;
        background-color: #e8e8e8;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

}